In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('income_evaluation.csv')
df=data.copy()

In [3]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlwgt          32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.isnull().sum()

age                0
 workclass         0
 fnlwgt            0
 education         0
 education-num     0
 marital-status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital-gain      0
 capital-loss      0
 hours-per-week    0
 native-country    0
 income            0
dtype: int64

In [6]:
df.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' income'],
      dtype='object')

In [7]:
cols=[]
for i in df.columns:
    cols.append(i.strip().replace('-','_'))
cols

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income']

In [8]:
df.columns=cols
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

<H1>Build Pipeline

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [11]:
# tr=columns_to_dummy()
# tr.fit(df.columns)

In [12]:
# tr.transform()

In [13]:
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.preprocessing import StandardScaler
class DataFrameModifier(BaseEstimator,TransformerMixin):
    def fit(self, df):
        self.df = df
        
    def transform(self):
        columns=['fnlwgt','education','native_country', 'occupation', 'relationship']
        self.df.drop(columns, axis=1, inplace=True)
        

# modifier = DataFrameModifier(df)
# modifier.drop_columns()

In [14]:
md=DataFrameModifier()

In [15]:
md.fit(df)

In [16]:
md.transform()

In [17]:
df

,age,workclass,education_num,marital_status,race,sex,capital_gain,capital_loss,hours_per_week,income
0,39,State-gov,13,Never-married,White,Male,2174,0,40,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,White,Male,0,0,13,<=50K
2,38,Private,9,Divorced,White,Male,0,0,40,<=50K
3,53,Private,7,Married-civ-spouse,Black,Male,0,0,40,<=50K
4,28,Private,13,Married-civ-spouse,Black,Female,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,12,Married-civ-spouse,White,Female,0,0,38,<=50K
32557,40,Private,9,Married-civ-spouse,White,Male,0,0,40,>50K
32558,58,Private,9,Widowed,White,Female,0,0,40,<=50K
32559,22,Private,9,Never-married,White,Male,0,0,20,<=50K
32560,52,Self-emp-inc,9,Married-civ-spouse,White,Female,15024,0,40,>50K

In [18]:
from sklearn.preprocessing import LabelBinarizer
coder = LabelBinarizer()

In [19]:
df["income"] = coder.fit_transform(df["income"])

In [20]:
from sklearn.model_selection import train_test_split

X=df.drop("income",axis=1)
Y=df["income"]
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.23,random_state=42)

In [21]:
numeric_columns=X.select_dtypes(include="number").columns
categorical_columns=X.select_dtypes(include="object").columns

In [22]:
numeric_columns

Index(['age', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [23]:
categorical_columns

Index(['workclass', 'marital_status', 'race', 'sex'], dtype='object')

<H1>Prepared codes for using columns on pipeline

In [24]:
import pipename as pn

### Pipeline

In [25]:
numerical_Pipeline = Pipeline(steps=[
    ('scaler', StandardScaler())
])

In [26]:
categorical_Pipeline = Pipeline(steps=[
    ('encoder', OneHotEncoder(handle_unknown='ignore'))
])

In [27]:
preprocessor = ColumnTransformer(
    transformers=[
        ('categorical', categorical_Pipeline, categorical_columns),
        ('numerical', numerical_Pipeline, numeric_columns)
    ])

In [28]:
pipe = Pipeline(steps=[
    ('preprocessor', preprocessor)
])

In [29]:
pipe.fit(X_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('categorical',
                                                  Pipeline(steps=[('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  Index(['workclass', 'marital_status', 'race', 'sex'], dtype='object')),
                                                 ('numerical',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  Index(['age', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object'))]))])

In [30]:
columns=pn.get_feature_names(preprocessor)
columns

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)
C:\Users\UFAZ\Downloads\Python Week 8 Deployment Materials\Homework\pipename.py:34: UserWarning: Transformer scaler (type StandardScaler) does not provide get_feature_names. Will return input column names if available
  warnings.warn("Transformer %s (type %s) does not "

['encoder__x0_ ?',
 'encoder__x0_ Federal-gov',
 'encoder__x0_ Local-gov',
 'encoder__x0_ Never-worked',
 'encoder__x0_ Private',
 'encoder__x0_ Self-emp-inc',
 'encoder__x0_ Self-emp-not-inc',
 'encoder__x0_ State-gov',
 'encoder__x0_ Without-pay',
 'encoder__x1_ Divorced',
 'encoder__x1_ Married-AF-spouse',
 'encoder__x1_ Married-civ-spouse',
 'encoder__x1_ Married-spouse-absent',
 'encoder__x1_ Never-married',
 'encoder__x1_ Separated',
 'encoder__x1_ Widowed',
 'encoder__x2_ Amer-Indian-Eskimo',
 'encoder__x2_ Asian-Pac-Islander',
 'encoder__x2_ Black',
 'encoder__x2_ Other',
 'encoder__x2_ White',
 'encoder__x3_ Female',
 'encoder__x3_ Male',
 'numerical__age',
 'numerical__education_num',
 'numerical__capital_gain',
 'numerical__capital_loss',
 'numerical__hours_per_week']

In [31]:
X_train = pipe.transform(X_train)
X_test = pipe.transform(X_test)

In [32]:
X_train_final=pd.DataFrame(X_train,columns=columns)
X_test_final=pd.DataFrame(X_test,columns=columns)
X_train_final.head()

,encoder__x0_ ?,encoder__x0_ Federal-gov,encoder__x0_ Local-gov,encoder__x0_ Never-worked,encoder__x0_ Private,encoder__x0_ Self-emp-inc,encoder__x0_ Self-emp-not-inc,encoder__x0_ State-gov,encoder__x0_ Without-pay,encoder__x1_ Divorced,...,encoder__x2_ Black,encoder__x2_ Other,encoder__x2_ White,encoder__x3_ Female,encoder__x3_ Male,numerical__age,numerical__education_num,numerical__capital_gain,numerical__capital_loss,numerical__hours_per_week
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,-0.044679,0.355423,-0.145812,-0.219248,-0.031522
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,2.592711,-3.135663,-0.145812,-0.219248,-0.031522
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,-0.997070,-1.584069,-0.145812,-0.219248,-0.031522
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.687929,1.519118,-0.145812,-0.219248,0.780696
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,-1.216853,-0.420374,-0.145812,-0.219248,-0.031522

In [33]:
X_train.shape

(25071, 28)

In [34]:
len(columns)

28

In [35]:
df.nunique()

age                73
workclass           9
education_num      16
marital_status      7
race                5
sex                 2
capital_gain      119
capital_loss       92
hours_per_week     94
income              2
dtype: int64

In [36]:
import xgboost as xgb
model=xgb.XGBClassifier(random_state=1,learning_rate=0.01)
model=model.fit(X_train,y_train)
y_pred=model.predict(X_test)
y_pred

array([0, 0, 1, ..., 0, 0, 0])

In [37]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Confusion Matrix \n",confusion_matrix(y_test,y_pred))
accuracy_score(y_test,y_pred)

Confusion Matrix
 [[5470  240]
 [ 825  955]]

0.8578104138851802

In [38]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      5710
           1       0.80      0.54      0.64      1780

    accuracy                           0.86      7490
   macro avg       0.83      0.75      0.78      7490
weighted avg       0.85      0.86      0.85      7490